<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="W7DG Longview WA Weather Station" />
	<meta name="keywords" content="w7dg,lcara,washington,longview,weather" />
	<meta name="author" content="Masen Furer" />
	<link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection" />
	<title>W7DG Longview, WA Weather Report</title>
	
	<script type="text/javascript">
	function showM()
	{
		document.write('<img src="http://images.myforecast.com/images/cw/radar/krtx/krtx_anim.gif" >');
	}
	</script>

</head>

<body>
<div id="wrap">
	<div id="header">
  	<h1>longview weather</h1>
		<p><strong>longview, washington, 98632</strong></p>
  </div>

  <div id="leftside">
		<h2 class="hide">menu</h2>
		<ul class="avmenu">
			<li><a class="current" href="index.html">Home</a></li>
<!--
			<li><a href="temp.html">Temperature</a></li>
			<li><a href="rain.html">Rain</a></li>
			<li><a href="wind.html">Wind</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="about.html">About</a></li>
-->
		</ul>

		<div class="announce">
			<h2>forecast</h2>
			<p><!-- noaa_synopsis --></p>
			<p class="textright"><a href="https://forecast.weather.gov/product.php?site=PQR&issuedby=PQR&product=AFD&format=txt&version=1&glossary=1">More &raquo;</a></p>
		</div>
	</div>

	<div id="extras">
		<h2>sunrise&nbsp;/&nbsp;sunset</h2>
		<p><!-- rtSunrise -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- rtSunset --></p>
		<p>&nbsp;</p>

		<h2>local weather links:</h2>
		<ul>
			<li><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=98632">Weather Underground</a></li>
			<li><a href="http://www.weather.com/weather/local/98632">The Weather Channel</a></li>
			<li><a href="http://www.accuweather.com/us/wa/longview/98632/city-weather-forecast.asp">Accuweather</a></li>
		</ul>

	</div>

  <div id="content">
		<h2>current conditions</h2>
		<p><strong><!-- DavisTime --></strong></p>
			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						
						<p><img src="img/thermo.gif" width="13" height="26" alt="" class = "alignleft" />Temperature</p>
						<h1 style="color: #1E90FF; font-size: 3.0em;"><!-- rtOutsideTemp -->&deg;F</h1><br />
						<h2 style="color: #1E90FF;"><!-- rtOutsideHum -->% humidity</h2>
						<br /><br /><a href="temp.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>&nbsp;</th>
			    				<th style="background-color: #FF7B7B;">High</th>
			    				<th style="background-color: #7BBFFF;">Low</th>
								</tr>
							</thead>
							<tr>
			    			<th scope="row">Today</th>
								<td><!-- hlOutTempHiDay -->&deg;F<br /><!-- hlOutTempHiTime --></td>
								<td><!-- hlOutTempLoDay -->&deg;F<br /><!-- hlOutTempLoTime --></td>
							</tr>
							
							<tr>
								<th scope="col">Month</th>
		    				<td style="background-color: Silver;"><!-- hlOutTempHiMonth -->&deg;F</td>
		    				<td style="background-color: Silver;"><!-- hlOutTempLoMonth -->&deg;F</td>
							</tr>
	
							<tr>
		    				<th>Year</th>
		    				<td style="background-color: Silver;"><!-- hlOutTempHiYear -->&deg;F</td>
		    				<td style="background-color: Silver;"><!-- hlOutTempLoYear -->&deg;F</td>
							</tr>
						</table>
						Barometer: <!-- rtBaroCurr --> in&nbsp;<img src="img/<!-- rtBaroTrendImg -->.gif" width="12" height="13" alt="" class = "aligncenter" />
					</td>
				</tr>
			</table>


			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						<p><img src="img/rainy.gif" width="26" height="26" alt="" class = "alignleft"/>Rainfall</p><br />
						<h2 style="color: #1E90FF;"><!-- rtRainRate -->&nbsp;in/hr</h2>
						<br /><a href="rain.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>Today</th>
			    				<th>Month</th>
			    				<th>Year</th>
								</tr>
							</thead>
							<tr>
			    			<td><!-- rtDayRain -->&nbsp;in</td>
								<td><!-- rtMonthRain -->&nbsp;in</td>
								<td><!-- rtYearRain -->&nbsp;in</td>
							</tr>
						</table>
						
						Storm Total: <!-- rtRainStorm --> in<br />
						Storm Started: <!-- rtStormStartDate --><br />
						Highest Today: <!-- hlRainRateHiDay --> in/hr  <!-- hlRainRateHiTime -->
					
				</td>
				
				</tr>
			</table>

			
			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						<p><img src="img/windy.gif" width="26" height="26" alt="" class = "alignleft"  />Wind&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br />
						<em>15min average speed</em><br />
						<h2 style="color: #1E90FF;"><!-- rtWindAvgSpeed -->&nbsp;mph</h2>
						<br /><a href="wind.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>Today</th>
			    				<th>Month</th>
			    				<th>Year</th>
								</tr>
							</thead>
							<tr>
			    			<td><!-- hlWindHiDay --> mph</td>
								<td><!-- hlWindHiMonth --> mph</td>
								<td><!-- hlWindHiYear --> mph</td>
							</tr>
						</table>
						
						Direction: <!-- rtWindDirRose -->,&nbsp;azimuth <!-- rtWindDir -->&deg;<br />
						Highest Today: <!-- hlWindHiDay -->mph&nbsp;<!-- hlWindHiTime -->
			</td>
				
				</tr>
			</table>

			<p style="text-align: center;" ><script type="text/javascript">showM();</script></p>

	</div>

	<div id="footer">
		<p><span>&copy; 2013 Joe Jaworski<br />
		all rights reserved&nbsp;&nbsp;&brvbar;&nbsp;&nbsp;<a href="njs.html" onmouseover="this.href='mail' + 'to:' + 'jj' + String.fromCharCode(64) + 'joejaworski' + '.' + 'com'">Email</a></span></p>
	</div>

</div>
</body>
</html>
