<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="W7DG Longview WA Weather Station" />
	<meta name="keywords" content="w7dg,lcara,washington,longview,weather" />
	<meta name="author" content="Masen Furer" />
	<link rel="stylesheet" type="text/css" href="styles.css" media="screen,projection" />
	<title>W7DG Longview, WA Weather Report</title>
	
	<script type="text/javascript">
	function showM()
	{
		document.write('<img src="http://images.myforecast.com/images/cw/radar/kgsp/kgsp_anim.gif" >');
	}
	</script>

</head>

<body>
<div id="wrap">
	<div id="header">
  	<h1>longview weather</h1>
		<p><strong>longview, washington, 98632</strong></p>
  </div>

  <div id="leftside">
		<h2 class="hide">menu</h2>
		<ul class="avmenu">
			<li><a class="current" href="index.html">Home</a></li>
			<li><a href="temp.html">Temperature</a></li>
			<li><a href="rain.html">Rain</a></li>
			<li><a href="wind.html">Wind</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="about.html">About</a></li>
		</ul>

		<div class="announce">
			<h2>forecast</h2>
			<p><!-- noaa_synopsis --></p>
			<p class="textright"><a href="http://www.srh.noaa.gov/productview.php?pil=GSPAFDGSP">More &raquo;</a></p>
		</div>
	</div>

	<div id="extras">
		<h2>sunrise&nbsp;/&nbsp;sunset</h2>
		<p>7:44AM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5PM</p>
		<p>&nbsp;</p>

		<h2>local weather links:</h2>
		<ul>
			<li><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=28805">Weather Underground</a></li>
			<li><a href="http://www.weather.com/weather/local/28805">The Weather Channel</a></li>
			<li><a href="http://www.accuweather.com/us/nc/asheville/28805/city-weather-forecast.asp">Accuweather</a></li>
			<li><a href="http://weather.noaa.gov/cgi-bin/iwszone?Sites=:ncz053#tl">NOAA Buncombe County</a></li>
		</ul>

	</div>

  <div id="content">
		<h2>current conditions</h2>
		<p><strong>Friday, January 21, 2022  10:39 AM</strong></p>
			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						
						<p><img src="img/thermo.gif" width="13" height="26" alt="" class = "alignleft" />Temperature</p>
						<h1 style="color: #1E90FF; font-size: 3.0em;">40.4&deg;F</h1><br />
						<h2 style="color: #1E90FF;">96% humidity</h2>
						<br /><br /><a href="temp.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>&nbsp;</th>
			    				<th style="background-color: #FF7B7B;">High</th>
			    				<th style="background-color: #7BBFFF;">Low</th>
								</tr>
							</thead>
							<tr>
			    			<th scope="row">Today</th>
								<td>72.4&deg;F<br />10:49AM</td>
								<td>59.0&deg;F<br />5:51AM</td>
							</tr>
							
							<tr>
								<th scope="col">Month</th>
		    				<td style="background-color: Silver;">86.4&deg;F</td>
		    				<td style="background-color: Silver;">53.1&deg;F</td>
							</tr>
	
							<tr>
		    				<th>Year</th>
		    				<td style="background-color: Silver;">86.4&deg;F</td>
		    				<td style="background-color: Silver;">53.1&deg;F</td>
							</tr>
						</table>
						Barometer: 30.69 in&nbsp;<img src="img/baro_rr.gif" width="12" height="13" alt="" class = "aligncenter" />
					</td>
				</tr>
			</table>


			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						<p><img src="img/rainy.gif" width="26" height="26" alt="" class = "alignleft"/>Rainfall</p><br />
						<h2 style="color: #1E90FF;">0.00&nbsp;in/hr</h2>
						<br /><a href="rain.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>Today</th>
			    				<th>Month</th>
			    				<th>Year</th>
								</tr>
							</thead>
							<tr>
			    			<td>0.01&nbsp;in</td>
								<td>7.05&nbsp;in</td>
								<td>27.43&nbsp;in</td>
							</tr>
						</table>
						
						Storm Total: 0.71 in<br />
						Storm Started: 19-JAN-2022<br />
						Highest Today: 0.01 in/hr  1AM
					
				</td>
				
				</tr>
			</table>

			
			<table border="0" cellspacing="12" cellpadding="12">
				<tr>
					<td align="center" valign="top">
						<p><img src="img/windy.gif" width="26" height="26" alt="" class = "alignleft"  />Wind&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><br />
						<em>15min average speed</em><br />
						<h2 style="color: #1E90FF;">3&nbsp;mph</h2>
						<br /><a href="wind.html">More &raquo;</a>
					</td>
			
					<td align="center" valign="top">
						<table border="0" cellspacing="4" cellpadding="4" >
							<thead>
								<tr>
			    				<th>Today</th>
			    				<th>Month</th>
			    				<th>Year</th>
								</tr>
							</thead>
							<tr>
			    			<td>11 mph</td>
								<td>11 mph</td>
								<td>11 mph</td>
							</tr>
						</table>
						
						Direction: WNW,&nbsp;azimuth 287&deg;<br />
						Highest Today: 11mph&nbsp;10:31AM
			</td>
				
				</tr>
			</table>

			<p style="text-align: center;" ><script type="text/javascript">showM();</script></p>

	</div>

	<div id="footer">
		<p><span>&copy; 2013 Joe Jaworski<br />
		all rights reserved&nbsp;&nbsp;&brvbar;&nbsp;&nbsp;<a href="njs.html" onmouseover="this.href='mail' + 'to:' + 'jj' + String.fromCharCode(64) + 'joejaworski' + '.' + 'com'">Email</a></span></p>
	</div>

</div>
</body>
</html>
